/log.txt
/oldpymenu.txt
/pymdump.txt
/pyproject.toml
*/__pycache__/
.cpython-311.pyc

# I guess I'm manually doing this now
src/__pycache__/__init__.cpython-311.pyc
src/modules/__pycache__/__init__.cpython-311.pyc
src/modules/__pycache__/logging.cpython-311.pyc
src/modules/compiler/__pycache__/__init__.cpython-311.pyc
src/modules/compiler/__pycache__/pmscript.cpython-311.pyc
src/utils/__pycache__/logging.cpython-311.pyc
src/compiler/__pycache__/pmscript.cpython-311.pyc
src/compiler/__pycache__/__init__.cpython-311.pyc
